# .inputrc
# This file configures Readline, the library that handles your typed input in
# many command-line programs.  You can set key bindings and configuration
# options ("variables") here.
set blink-matching-paren on
set colored-completion-prefix on
set enable-bracketed-paste on
set colored-stats on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on
