[user]
name = Dean Hamstead
email = dean@fragfest.com.au
[color]
ui = auto
[push]
default = simple
autoSetupRemote = true
followTags = true
[alias]
stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
patch = !git --no-pager diff --no-color
[pull]
rebase = true
[merge]
conflictStyle = zdiff3
[core]
fsmonitor = true
pager = diff-so-fancy | less --tabs=4 -RFX
untrackedCache = true
[interactive]
diffFilter = diff-so-fancy --patch
[pager]
show = diff-so-fancy | less --tabs=1,5 -RFX
[rebase]
autoStash = true
[branch]
sort = -committerdate
