[alias]
	patch = !git --no-pager diff --no-color
	stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
[branch]
	sort = -committerdate
[color]
	ui = auto
[commit]
	verbose = true
[core]
	compression = 9
	fsmonitor = true
	pager = diff-so-fancy | less --tabs=4 -RFX
	preloadindex = true
	untrackedCache = true
[diff]
	algorithm = histogram
	colorMoved = dimmed_zebra
	context = 10
	mnemonicPrefix = true
	noprefix = true
	renames = copy
[fetch]
	fsckobjects = true
	prune = true
	pruneTags = true
[grep]
	patternType = perl
[interactive]
	diffFilter = diff-so-fancy --patch
[log]
	date = iso
[merge]
	conflictStyle = zdiff3
	keepbackup = false
[pager]
	show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followtags = true
[rebase]
	autoStash = true
	autosquash = true
	updateRefs = true
[receive]
	fsckObjects = true
[rerere]
	autoupdate = true
	enabled = true
[tag]
	sort = version:refname
[transfer]
	fsckobjects = true
[user]
	email = dean@fragfest.com.au
	name = Dean Hamstead
